<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061541553259-gd7kjss9r6922lqj4s5lj8mgv0v7607b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061541553259-gd7kjss9r6922lqj4s5lj8mgv0v7607b</string>
	<key>API_KEY</key>
	<string>AIzaSyDLMqcP5QJ205wT2lgHLDRQHxRVcdXvH58</string>
	<key>GCM_SENDER_ID</key>
	<string>1061541553259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movie-app-834a4</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-834a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061541553259:ios:df7cae8407e6f8b8a47d2e</string>
</dict>
</plist>